 <h1>Formulario de subida y eliminación de productos</h1>
    <form id="idForm">
        <p>Ingresar los datos del producto:</p>
        <br>
        <label for="id">ID:</label>
        <input type="number" id="id" placeholder="1">
        <br>
        <label for="title">Title:</label>
        <input type="text" id="title" placeholder="A/A xxxxfr">
        <br>
        <label for="description">Description:</label>
        <input type="text" id="description" placeholder="Aire Acondicionado split xxxxfr F/C">
        <br>
        <label for="price">Price:</label>
        <input type="number" id="price" placeholder="50000">
        <br>
        <label for="code">Code:</label>
        <input type="text" id="code" placeholder="#125">
        <br>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" placeholder="10">
        <br>
        <label for="category">Category:</label>
        <input type="text" id="category" placeholder="A/A">
        <br>
        <label for="status">Status:</label>
        <select type="boolean" id="status" placeholder="True/False">
            <option id="option1" value="true">true</option>
            <option id="option2" value="false">false</option>
        </select>
        <br>
        <label for="thumbnail">Thumbnail:</label>
        <input type="text" id="thumbnail" placeholder="imgPath">
        <br>
        <button type="submit" id="addProduct">Agregar</button>
        <button type="submit" id="deleteProduct">Eliminar</button>
        <button type="reset">Reset</button>
    </form>
<span id="error"></span>
<h2>Lista de productos en tiempo real:</h2>
<div id="realTimeProducts"></div>